In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.4.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,952 kB]
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 2,181 kB in 3s (804 kB/s)
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
df = spark.read.option('header', 'true').csv(SparkFiles.get("home_sales_revised.csv"), inferSchema=True, sep=',')

# Show DataFrame
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [4]:
# Viewing the schema to make sure that data types are usable
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- date_built: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)

In [5]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('homes')

In [6]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
spark.sql("select Round(AVG(price), 2) as avg_home_price from homes").show()

+--------------+
|avg_home_price|
+--------------+
|     314907.82|
+--------------+

In [7]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
spark.sql("select date_built, round(AVG(price), 2) as avg_home_price from homes where bedrooms = 3 and bathrooms = 3 group by date_built order by date_built asc").show()

+----------+--------------+
|date_built|avg_home_price|
+----------+--------------+
|      2010|     292859.62|
|      2011|     291117.47|
|      2012|     293683.19|
|      2013|     295962.27|
|      2014|     290852.27|
|      2015|      288770.3|
|      2016|     290555.07|
|      2017|     292676.79|
+----------+--------------+

In [8]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql("select date_built, round(AVG(price), 2) as avg_home_price from homes where bedrooms = 3 and bathrooms = 3 and floors = 2 and sqft_living >= 2000 group by date_built order by date_built asc").show()

+----------+--------------+
|date_built|avg_home_price|
+----------+--------------+
|      2010|     285010.22|
|      2011|     276553.81|
|      2012|     307539.97|
|      2013|     303676.79|
|      2014|     298264.72|
|      2015|     297609.97|
|      2016|      293965.1|
|      2017|     280317.58|
+----------+--------------+

In [9]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.
spark.sql("select view, round(AVG(price), 2) as avg_home_price from homes where price >= 350000 group by view order by view desc").show(100)

start_time = time.time()

print("--- %s seconds ---" % (time.time() - start_time))

+----+--------------+
|view|avg_home_price|
+----+--------------+
| 100|     1026669.5|
|  99|    1061201.42|
|  98|    1053739.33|
|  97|    1129040.15|
|  96|    1017815.92|
|  95|     1054325.6|
|  94|     1033536.2|
|  93|    1026006.06|
|  92|     970402.55|
|  91|    1137372.73|
|  90|    1062654.16|
|  89|    1107839.15|
|  88|    1031719.35|
|  87|     1072285.2|
|  86|    1070444.25|
|  85|    1056336.74|
|  84|    1117233.13|
|  83|    1033965.93|
|  82|     1063498.0|
|  81|    1053472.79|
|  80|     991767.38|
|  79|    1009565.08|
|  78|    1080649.37|
|  77|    1076205.56|
|  76|    1058802.78|
|  75|    1114042.94|
|  74|      745077.0|
|  73|     752861.18|
|  72|     780914.67|
|  71|      775651.1|
|  70|     695865.58|
|  69|     750537.94|
|  68|     716785.44|
|  67|     737970.96|
|  66|      712475.0|
|  65|     736679.93|
|  64|     767036.67|
|  63|     711614.55|
|  62|     759150.14|
|  61|     746877.59|
|  60|     754939.65|
|  59|      791453.0|
|  58|     759764.65|
|  57|      734340.5|
|  56|      718176.4|
|  55|     771153.32|
|  54|     798684.82|
|  53|      755214.8|
|  52|     733780.26|
|  51|     788128.21|
|  50|      446102.7|
|  49|     402206.68|
|  48|     400485.55|
|  47|      398447.5|
|  46|     401738.23|
|  45|     402308.78|
|  44|     400598.05|
|  43|     400929.43|
|  42|      396964.5|
|  41|     401271.69|
|  40|     401767.82|
|  39|     399234.22|
|  38|     398418.37|
|  37|     394964.36|
|  36|     400127.29|
|  35|     401934.21|
|  34|     401419.75|
|  33|     393973.32|
|  32|     399367.72|
|  31|     399856.95|
|  30|      397862.0|
|  29|     397771.65|
|  28|     402124.62|
|  27|     399537.66|
|  26|     401506.97|
|  25|     401298.69|
|  24|     400284.92|
|  23|     403411.92|
|  22|     402022.68|
|  21|     399758.88|
|  20|     399522.81|
|  19|     398953.17|
|  18|     399332.91|
|  17|     398474.49|
|  16|     399586.53|
|  15|      404673.3|
|  14|     398570.03|
|  13|     398917.98|
|  12|     401501.32|
|  11|     399548.12|
|  10|     401868.43|
|   9|     401393.34|
|   8|     398592.71|
|   7|     403005.77|
|   6|     395655.38|
|   5|     401471.82|
|   4|     399631.89|
|   3|      398867.6|
|   2|     397389.25|
|   1|     401044.25|
+----+--------------+
only showing top 100 rows

--- 0.000102996826171875 seconds ---

In [10]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table homes")

DataFrame[]

In [11]:
# 8. Check if the table is cached.
spark.catalog.isCached('homes')

True

In [12]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.
spark.sql("select view, round(AVG(price), 2) as avg_home_price from homes where price >= 350000 group by view order by view desc").show(100)

start_time = time.time()

print("--- %s seconds ---" % (time.time() - start_time))

+----+--------------+
|view|avg_home_price|
+----+--------------+
| 100|     1026669.5|
|  99|    1061201.42|
|  98|    1053739.33|
|  97|    1129040.15|
|  96|    1017815.92|
|  95|     1054325.6|
|  94|     1033536.2|
|  93|    1026006.06|
|  92|     970402.55|
|  91|    1137372.73|
|  90|    1062654.16|
|  89|    1107839.15|
|  88|    1031719.35|
|  87|     1072285.2|
|  86|    1070444.25|
|  85|    1056336.74|
|  84|    1117233.13|
|  83|    1033965.93|
|  82|     1063498.0|
|  81|    1053472.79|
|  80|     991767.38|
|  79|    1009565.08|
|  78|    1080649.37|
|  77|    1076205.56|
|  76|    1058802.78|
|  75|    1114042.94|
|  74|      745077.0|
|  73|     752861.18|
|  72|     780914.67|
|  71|      775651.1|
|  70|     695865.58|
|  69|     750537.94|
|  68|     716785.44|
|  67|     737970.96|
|  66|      712475.0|
|  65|     736679.93|
|  64|     767036.67|
|  63|     711614.55|
|  62|     759150.14|
|  61|     746877.59|
|  60|     754939.65|
|  59|      791453.0|
|  58|     759764.65|
|  57|      734340.5|
|  56|      718176.4|
|  55|     771153.32|
|  54|     798684.82|
|  53|      755214.8|
|  52|     733780.26|
|  51|     788128.21|
|  50|      446102.7|
|  49|     402206.68|
|  48|     400485.55|
|  47|      398447.5|
|  46|     401738.23|
|  45|     402308.78|
|  44|     400598.05|
|  43|     400929.43|
|  42|      396964.5|
|  41|     401271.69|
|  40|     401767.82|
|  39|     399234.22|
|  38|     398418.37|
|  37|     394964.36|
|  36|     400127.29|
|  35|     401934.21|
|  34|     401419.75|
|  33|     393973.32|
|  32|     399367.72|
|  31|     399856.95|
|  30|      397862.0|
|  29|     397771.65|
|  28|     402124.62|
|  27|     399537.66|
|  26|     401506.97|
|  25|     401298.69|
|  24|     400284.92|
|  23|     403411.92|
|  22|     402022.68|
|  21|     399758.88|
|  20|     399522.81|
|  19|     398953.17|
|  18|     399332.91|
|  17|     398474.49|
|  16|     399586.53|
|  15|      404673.3|
|  14|     398570.03|
|  13|     398917.98|
|  12|     401501.32|
|  11|     399548.12|
|  10|     401868.43|
|   9|     401393.34|
|   8|     398592.71|
|   7|     403005.77|
|   6|     395655.38|
|   5|     401471.82|
|   4|     399631.89|
|   3|      398867.6|
|   2|     397389.25|
|   1|     401044.25|
+----+--------------+
only showing top 100 rows

--- 9.799003601074219e-05 seconds ---

In [13]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").parquet("homes_partitioned")

In [14]:
# 11. Read the parquet formatted data.
p_df_p=spark.read.parquet("homes_partitioned")

In [15]:
# 12. Create a temporary table for the parquet data.
p_df_p.createOrReplaceTempView('p_homes_p')

In [17]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.
spark.sql("select view, round(AVG(price), 2) as avg_home_price from p_homes_p where price >= 350000 group by view order by view desc").show(100)

start_time = time.time()


print("--- %s seconds ---" % (time.time() - start_time))

+----+--------------+
|view|avg_home_price|
+----+--------------+
| 100|     1026669.5|
|  99|    1061201.42|
|  98|    1053739.33|
|  97|    1129040.15|
|  96|    1017815.92|
|  95|     1054325.6|
|  94|     1033536.2|
|  93|    1026006.06|
|  92|     970402.55|
|  91|    1137372.73|
|  90|    1062654.16|
|  89|    1107839.15|
|  88|    1031719.35|
|  87|     1072285.2|
|  86|    1070444.25|
|  85|    1056336.74|
|  84|    1117233.13|
|  83|    1033965.93|
|  82|     1063498.0|
|  81|    1053472.79|
|  80|     991767.38|
|  79|    1009565.08|
|  78|    1080649.37|
|  77|    1076205.56|
|  76|    1058802.78|
|  75|    1114042.94|
|  74|      745077.0|
|  73|     752861.18|
|  72|     780914.67|
|  71|      775651.1|
|  70|     695865.58|
|  69|     750537.94|
|  68|     716785.44|
|  67|     737970.96|
|  66|      712475.0|
|  65|     736679.93|
|  64|     767036.67|
|  63|     711614.55|
|  62|     759150.14|
|  61|     746877.59|
|  60|     754939.65|
|  59|      791453.0|
|  58|     759764.65|
|  57|      734340.5|
|  56|      718176.4|
|  55|     771153.32|
|  54|     798684.82|
|  53|      755214.8|
|  52|     733780.26|
|  51|     788128.21|
|  50|      446102.7|
|  49|     402206.68|
|  48|     400485.55|
|  47|      398447.5|
|  46|     401738.23|
|  45|     402308.78|
|  44|     400598.05|
|  43|     400929.43|
|  42|      396964.5|
|  41|     401271.69|
|  40|     401767.82|
|  39|     399234.22|
|  38|     398418.37|
|  37|     394964.36|
|  36|     400127.29|
|  35|     401934.21|
|  34|     401419.75|
|  33|     393973.32|
|  32|     399367.72|
|  31|     399856.95|
|  30|      397862.0|
|  29|     397771.65|
|  28|     402124.62|
|  27|     399537.66|
|  26|     401506.97|
|  25|     401298.69|
|  24|     400284.92|
|  23|     403411.92|
|  22|     402022.68|
|  21|     399758.88|
|  20|     399522.81|
|  19|     398953.17|
|  18|     399332.91|
|  17|     398474.49|
|  16|     399586.53|
|  15|      404673.3|
|  14|     398570.03|
|  13|     398917.98|
|  12|     401501.32|
|  11|     399548.12|
|  10|     401868.43|
|   9|     401393.34|
|   8|     398592.71|
|   7|     403005.77|
|   6|     395655.38|
|   5|     401471.82|
|   4|     399631.89|
|   3|      398867.6|
|   2|     397389.25|
|   1|     401044.25|
+----+--------------+
only showing top 100 rows

--- 9.775161743164062e-05 seconds ---

In [18]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table homes")

DataFrame[]

In [19]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('homes')

False